.mh-skills tr {
    border-bottom: 1px solid black;
}
.mh-skills p {
    margin: 0 0 5px;
    padding: 0;
    display: inline-block;
}

.mh-skills span {
    cursor: pointer;
}

.mh-equip {
    position: fixed;
    top: 100px;
    left: 10px;
    width: 25%;
}

h1, h2, h3 {
    margin: 0 0 10px;
}

.mh-table tr {
    margin: 5px 0;
}

.mh-table td {
    margin: 0;
    padding: 10px;
}

.mh-table .x-active {
    background: lightgray;
}

.mh-table .x-filtered {
    background: yellow;
}

.mh-table .x-active.x-filtered { 
    background: lightgreen;
}
